@use "layout" as *;
@use "pages" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 85px;
  position: relative;
}

.dark {
  background-color: #333 !important;
}

.dark {
  color: #fff !important;
}

.dark .item-link {
  color: #fff !important;
}

.dark header {
  background: #555;
}

.dark header nav .logo svg {
  fill: #fff;
}

.dark footer {
  background-color: #555;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

.backtop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #000;
  color: #fff;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 5px 6px 3px;
  font-size: 18px;
  font-family: Poppins;
}
.dark .backtop {
  background: #e6a1a1;
  color: #ffffff;
}
